{% extends 'absorcao/base.html' %}

{% load static %}

{% block body_block %}

    <h1>Editando Custos Indiretos</h1>

    <div class="col-md-6"> 

        <form id="custo_indireto_form" method="post" action="/custo_indireto/edit/{{ custo_indireto.id }}/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}    

            {% load bootstrap3 %}
            {% bootstrap_form form %}

            <input type="submit" name="submit" value="Salvar" class="btn btn-primary pull-right"/>

            <a href="/custo_indireto/edit/{{ custo_indireto.id }}" class="btn btn-small btn-default pull-right">Cancelar</a>
        </form>
    </div>

{% endblock %}