{% extends 'absorcao/base.html' %}

{% load static %}

{% block body_block %}

    <h1>Custos diretos</h1>
    <div class="table-responsive">
	  <table class="table table-hover table-striped">
    	<thead>
                <th></th>
                {% for produto in produtos %}
    		<th>{{ produto.nome }}</th>
                {% endfor %}
    	</thead>
	    <tbody>
	    	    <tr>
                            <td>Tecidos</td>
                            <td>0.25</td>
                            <td>0.75</td>
                            <td>0.5</td>
                    </tr>
                            <td>Aviamentos</td>
                            <td>0.5</td>
                            <td>1</td>
                            <td>1.75</td>
                    </tr>
                            <td>Mao-de-obra Direta</td>
                            <td>0.25</td>
                            <td>0.75</td>
                            <td>0.5</td>
	    	    </tr>
	    </tbody>
	  </table>
          <input type="button" value="Editar">
	</div>

{% endblock %}
