<!-- {% extends 'absorcao/base.html' %}

{% load static %}

{% block title %}Visualizar Custo Indireto{% endblock %}

{% block body_block %}

    <h1>Custo Indireto: {{ custo_indireto.nome }}</h1>

    <div class="col-md-6"> 

			<strong>Nome:</strong> {{ custo_indireto.nome }}

			<div class="table-responsive">
			  <table class="table table-hover table-bordered table-striped sortable">
		    	<thead>
		    		<th>Nome</th>
		    		<th>Valor mensal</th>
		    		<th>Porcentagem compras</th>
		    		<th>Porcentagem almoxarifado</th>
		    		<th>Porcentagem adm produção</th>
		    		<th>Porcentagem corte</th>
		    		<th>Porcentagem acabamento</th>
		    		<th>Ações</th>
		    	</thead>
			    <tbody>
				    {% for produto in produto_meses %}
			    	<tr>
				    <td>{{ produto.mes }}/{{produto.mes.ano}}</td>
				    <td>{{ produto.producao_mensal }}</td>
				    <td>R$ {{ produto.preco_venda_unitario }}</td>
				    <td><a href="/produto/edit/{{ produto.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
			    	</tr>
				    {% endfor %}
			    </tbody>
			  </table>
    </div>

{% endblock %} -->