{% extends 'absorcao/base.html' %}

{% load static %}

{% block body_block %}

    {% if mes %}
        <h1>Custos diretos de {{mes}}</h1>
    {% else %}
        <h1>Custos diretos</h1>
    {% endif %}
    
    <div class="table-responsive">
    <form method="POST" action="save/">
      {% csrf_token %}
      <table class="table table-hover table-striped">
        <thead>
                  <th></th>
                  {% for produto in produtos %}
          <th>{{ produto.nome }}</th>
                  {% endfor %}
        </thead>
        <tbody>
          {% for custo in custos_diretos_produtos %}
                          {% if forloop.counter0 == 0 or forloop.counter0 == 3 or forloop.counter0 == 6 %}
                      <tr>
                          {% endif %}
                          {% if forloop.counter0 == 0 %}
                              <td>Aviamentos</td>
                          {% elif forloop.counter0 == 3 %}
                              <td>Mão de obra direta</td>
                          {% elif forloop.counter0 == 6 %}
                              <td>Tecidos</td>
                          {% endif %}
                  {% if index == 1 %}
                      <td>{{ custo }}</td>
                  {% else %}
                  <td><input type="text" name="custos_diretos-{{forloop.counter0}}" value="{{ custo.valor_unitario }}"></td>
                  {% endif %}
                          {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                      </tr>
                          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <input type='submit' value='Salvar alterações'>
    </form>
  </div>
   <script type="text/javascript">
      $(document).ready(function () {
      $('#financeiro').addClass('active');
   });
   </script>
{% endblock %}
