{% extends 'absorcao/base.html' %}

{% load static %}
{% block extrahead %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.min.js"> </script>
<script type="text/javascript">
    var data = {
    labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
    datasets: [
    {
	label: "Custos Diretos",
	fillColor: "rgba(220,220,220,0.2)",
	strokeColor: "rgba(220,220,220,1)",
	pointColor: "rgba(220,220,220,1)",
	pointStrokeColor: "#fff",
	pointHighlightFill: "#fff",
	pointHighlightStroke: "rgba(220,220,220,1)",
	data: [1,2,3,4,5,6,7,5,2,1,4,4]
    }
    ]
}
window.onload = function(){

    var ctx = document.getElementById('custosD').getContext('2d');
    window.myLineChart = new Chart(ctx).Line(data, { responsive: true });
}

</script>
{% endblock %}

{% block body_block %}



    <h1>Absorção says...</h1>
    hello world! <strong>{{ boldmessage }}</strong><br />
    <a href="/about/">About</a><br />

	<script type="text/javascript">
		DIVs = document.getElementsByTagName('div');

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('sidebar-nav') > -1){

			DIVs[i].style.display = 'none' ;
			}
		}

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('col-md-9') > -1){

				DIVs[i].style.float = 'none' ;
				DIVs[i].style.margin = 'auto' ;
			}
		}
	</script>

    <div id="custosD" width="500" height="300"></canvas>


    <script type="text/javascript">
      $(document).ready(function () {
          $('#home').addClass('active');
      });
    </script>

{% endblock %}
