{% extends 'absorcao/base.html' %}

{% load static %}

{% block title %}Produtos{% endblock %}

{% block body_block %}

    <h1>Produtos</h1>
    <div class="table-responsive">
	  <table class="table table-hover table-striped sortable">
    	<thead>
    		<th>Nome</th>
    		<th>Ações</th>
    	</thead>
	    <tbody>
		    {% for produto in produtos %}
	    	<tr>
		    <td><a href="/produto/{{ produto.id }}">{{ produto.nome }}</a></td>
		    <td><a href="/produto/edit/{{ produto.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	</tr>
		    {% endfor %}
	    </tbody>
	  </table>
	</div>
	<script type="text/javascript">
		DIVs = document.getElementsByTagName('div');

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('sidebar-nav') > -1){

			DIVs[i].style.display = 'none' ;
			}
		}

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('col-md-9') > -1){

				DIVs[i].style.float = 'none' ;
				DIVs[i].style.margin = 'auto' ;
			}
		}
	</script>
    <script type="text/javascript">
      $(document).ready(function () {
          $('#produtos').addClass('active');
      });
    </script> 

{% endblock %}