{% extends 'absorcao/base.html' %}

{% load static %}

{% block title %}Visualizar Produto{% endblock %}

{% block body_block %}

{% load humanize %}

    		<h1>Visualizando Produto</h1>

			<strong>Nome:</strong> {{ produto.nome }}
			<br>
			<br>

			<div class="table-responsive">
			  <table class="table table-hover table-bordered table-striped sortable">
		    	<thead>
		    		<th>Mês</th>
		    		<th>Produção mensal</th>
		    		<th>Preço de venda unitário</th>
		    		<th>Ações</th>
		    	</thead>
			    <tbody>
				    {% for produto_mes in produto_meses %}
			    	<tr>
				    <td>{{ produto_mes.mes }}</td>
				    <td>{{ produto_mes.producao_mensal|intcomma }}</td>
				    <td>R$ {{ produto_mes.preco_venda_unitario|floatformat:2 }}</td>
				    <td><a href="/produto-mes/edit/{{ produto_mes.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
			    	</tr>
				    {% endfor %}
			    </tbody>
			  </table>
			  <a href="/produto" class="btn btn-small btn-default pull-right">Voltar</a>
			<script type="text/javascript">
		      $(document).ready(function () {
		          $('#produtos').addClass('active');
		      });
		    </script> 
{% endblock %}