{% extends 'absorcao/base.html' %}

{% load static %}

{% load humanize %}

{% block body_block %}

    <h1>Relatório</h1>
    <div class="table-responsive">
	  <table class="table table-hover sortable">
    	<thead>
    		<th></th>
    		<th>Compras</th>
    		<th>Almoxarifado</th>
    		<th>Adm. Produção</th>
    		<th>Corte e Costura</th>
    		<th>Acabamento</th>
		    <th>Totais</th>
    	</thead>
	    <tbody>
		    {% for c in custeio %}
		    	<tr>
		    	{% for a in c %}
		    		{% if forloop.counter == 1 %}
		    			<td>{{a}}</td>
		    		{% else %}
		    			<td>R$ {{a|floatformat:2|intcomma}}</td>
		    		{% endif %}
		    	{% endfor %}
		    	</tr>
		    {% endfor %}
	    </tbody>
	  </table>
	</div>

{% endblock %}