{% extends 'absorcao/base.html' %}

{% load static %}

{% block title %}Editar Tempo Produção{% endblock %}

{% block body_block %}

    <h1>Editando Tempo de Produção</h1>

    <div class="col-md-6"> 

		<form id="tempo_form" method="post" action="/tempo-producao/edit/{{ tempo_producao.id }}/">

			{% csrf_token %}
		    {% for hidden in form.hidden_fields %}
		        {{ hidden }}
		    {% endfor %}    

		    {% load bootstrap3 %}
		    {% bootstrap_form form %}

			<input type="submit" name="submit" value="Salvar" class="btn btn-primary pull-right"/>

		    <a href="/tempo-producao/{{ tempo.id }}" class="btn btn-small btn-default pull-right">Cancelar</a>
		</form>
    </div>
	<script type="text/javascript">
		DIVs = document.getElementsByTagName('div');

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('sidebar-nav') > -1){

			DIVs[i].style.display = 'none' ;
			}
		}

		for (var i = DIVs.length - 1; i >= 0; i--) {

			if (DIVs[i].className.indexOf('col-md-9') > -1){

				DIVs[i].style.float = 'none' ;
				DIVs[i].style.margin = 'auto' ;
			}
		}
	</script>    
   <script type="text/javascript">
      $(document).ready(function () {
      $('#financeiro').addClass('active');
   });
   </script>
{% endblock %}